* {
    margin: 0;
    top: 0;
    box-sizing: content-box;
    font-family: Verdana;
}

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 124, 124);
    justify-content: space-between;
    padding: 0px 120px;
}

.logo {
    position: relative;
    width: 140px;
    user-select: none;
    -webkit-user-drag: none;
}

nav {
    position: relative;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(80, 211, 211);
    padding: 10px;
    height: 20px;
    width: 100px;
    text-align: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

nav a:hover {
    /* background-color: rgb(80, 211, 211); */
    transition: .3s;
    animation: 2s linear change-color;
}

@keyframes change-color {
    from {
        background-color: none;
    }

    to {
        background-color: rgb(80, 211, 211);
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 700px;
}

nav hr {
    height: 30px;
    border: 1px solid white;
}

.container {
    width: 1200px;
    height: auto;
    margin: 100px auto;
    padding: 27px 0px 27px 27px;
    border-top: 1px solid rgb(0, 124, 124);
    display: flex;
    box-sizing: border-box;
}

.container div div {
    margin-top: 15px;
    margin-bottom: 30px;
}

.container div p {
    margin-top: 10px;
    text-align: justify;
}

footer {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(0, 124, 124);
    padding: 0 120px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover {
    transition: .2s;
    color: rgb(80, 211, 211);
    cursor: pointer;
}

aside {
    width: calc(100% - 890px);
    height: auto;
    border-left: 1px solid rgb(0, 124, 124);
    margin-left: 40px;
    box-sizing: border-box;
    justify-content: center;
}

form,
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    width: 850px;
}

aside h2 {
    margin-bottom: 25px;
    border-bottom: 1px dotted black;
}

form input {
    margin-bottom: 10px;
    width: 200px;
    padding: 7px;
    border: 1px solid rgb(0, 124, 124);
}

form input::placeholder {
    color: rgb(80, 211, 211);
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    cursor: pointer;
    width: 200px;
    background-color: white;
    color: rgb(80, 211, 211);
    border: 1px solid rgb(0, 124, 124);
    padding: 7px;
}

form input[type="submit"]:hover {
    background-color: rgb(0, 124, 124);
    color: white;
    transition: .3s;
}

form a {
    color: rgb(80, 211, 211);
    vertical-align: sub;
    font-size: x-small;
}

form hr {
    position: relative;
    width: 75%;
    height: 1px;
    background-color: rgb(0, 124, 124);
    border: none;
    margin: 10px 0;
}