.signup {
    margin-top: 5px;
}

.signup a {
    color: #5747e3;
    text-decoration: none;
    font-size: small;
}

.signup a:hover{
    text-decoration: black solid;
}

th {
    text-align: left;
    font-weight: normal;
}

input {
    outline: none;
    border: 2px solid #4135a7;
    background-color: #5747e3;
    padding: 10px;
    border-radius: 25px;
    color:white;
}