* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #a3c6cf;
}

main {
    margin: 0 100px;
}

p {
    font-style: italic;
}

span {
    color: red;
    font-weight: bold;
}
form, fieldset {
    padding: 10px;
    border: 1px solid;
}

form {
    padding-right: 200px;
    width: 800px;
}

.brd-green {
    border-color: limegreen;
}

.column {
    display: block;
}

table {
    width: 100%;
}

td {
    width: 33%;
}

input {
    border: 1px solid black;
    padding: 2px;
}

input[type="file"] {
    border: none;
}

input:focus {
    outline: none;
}



textarea {
    height: 150px;
    padding: 2px;
}